@model IEnumerable<starrexam.Models.room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.roomNumber)
    </td>
    <td>
       $@Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.ActionLink("Check Availability", "Details", new { id = item.roomNumber })
    ||
        <a href="Bookings/Create?room=@Html.DisplayFor(modelItem => item.roomNumber)">Book Now!</a>
    </td>
</tr>
}

</table>
